* {
  /*reset*/
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}
/*selectores de etiqueta 
selectores de id
selectores de clases */

body {
  background-image: url("../assets/img/background.jpg") !important;
  object-fit: contain;
  text-align: -webkit-center;
}

.redesSociales {
  width: 100%;
  padding: 8px 25px;
  text-align: left;
  background-color: black;
}
.redesSociales img {
  width: 27px;
  margin: 4px;
}

.collapse {
  flex-flow: column !important;
}
.menu a {
  padding: 20px !important;
  text-decoration: none !important;
  color: white !important;
  text-align: center !important;
  font-weight: bold !important;
  text-transform: uppercase !important;
  font-size: 1.5rem;
}



.titulo {
  text-align: center;
  font-size: 2.5rem !important;
}

.tabla {
  margin: 0 !important;
  padding: 20px !important;
}

.table {
  text-align-last: center;
}

.card {
  width: 25%;
  height: auto;
  margin: 5px; 
  background-color: black;
  color: whitesmoke;
  align-items: center;
}

.imagen-producto {
  max-width: 200px; 
  height: 200px; 
  
}

